@charset "utf-8";
@media (min-width: 1200px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (min-width: 768px) and (max-width: 991px) {
.app__leftbar, .site__header .app__topbar__brand{
    width: 80px;
}
.app__leftbar .main__nav ul li a{
    font:0/0 normal;
}
.user__box .app__TopSearch input {
    min-width: 170px;
}
.app__contentpage {
    margin-left: 80px;
}
}
@media (min-width: 768px) {
.triggerMbButton, .sideCanvas__left{
    display: none;
}
}
@media (max-width: 767px) {
.app__topbar__brand{
    width: 60px;
}
.largeViewMenu, .app__nav__left{
    display: none;
}
.brand__name {
    display:block;
    visibility:hidden;
    text-indent: 22px;
}
.brand__name:first-letter {
    visibility:visible;
}
.app__contentpage{
    width: 100%;
    margin-left: 0;
}
.app__contentpage__wrapper{
    padding-top: 20px;
}
.app__actions__panelStatus {
    top: 20px;
}
.panel__title__row .breadcrumb{
    display: none;
}
.panel__title__row{
    height: 32px;
}
.button {
    padding: 8px 12px;
    font-size: 12px;
}
.smallViewMenu .main__nav ul li a{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.main__nav ul li a .main__nav__icon, .main__nav .router-link-exact-active.router-link-active .main__nav__icon{
    display: inline;
    margin:0 5px 0 0;
}
.smallViewMenu .main__nav ul li a>* {
    display: inline-block;
    vertical-align: middle;
}
}
@media (min-width: 600px) and (max-width: 767px) {
.sideCanvas__right{
    width: 70%;
}
}
@media (max-width: 480px) {
.sideCanvas__right{
    width: 100%;
}
}
@media (max-width: 480px) {

}
@media (max-width: 320px) {
}