/*----- Colors ------*/
$primary-color :#2ecc71;
$textColor: #8a8a8a;
$darkColor: #666f7b;
$whiteColor: #ffffff;
$red-color :#e66565;
$formControlColor :#dfe0e3;
/*----- Background colors ------*/
$bg-white :#ffffff;
$bg-gray: #8f9196;
$bg-lightGray: #f5f5f5;
