@import "./variables.scss";
@import "./resize.scss";
@import "./mixins.scss";
/*----- fonts ------*/
$font-stack: 'Roboto', sans-serif;
$font-ionicons: "Ionicons";

html, body{
  margin: 0;
  padding: 0;
}
body{
    font-family: $font-stack;
    color: $darkColor;
    background-color: $bg-lightGray;
    -webkit-font-smoothing: antialiased;
}
a{
    color: $darkColor;
    text-decoration: none;
}
a:focus, a:hover{
    color: $primary-color;
    text-decoration: none;
}
%inlineBlock{
    display: inline-block;
    vertical-align: middle;
}
.pageWrap {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: $bg-lightGray;
}
/*===========================================================*/
/*-- Loading style css --*/
/*===========================================================*/
.loadingMask{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:$bg-white;
    z-index: 99999;
}

.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid $primary-color;
  @include border-radius(50%);
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: $primary-color;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: $primary-color;
  }
  29% {
    background-color: $primary-color;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: $primary-color;
  }
  29% {
    background-color: $primary-color;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: $primary-color;
  }
  29% {
    background-color: $primary-color;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
/*===========================================================*/
/*-- Siterheader css --*/
/*===========================================================*/
/*==================== Mobile menu css ==========================*/
.triggerMbButton{
    display: inline-block;
    position: relative;
    float: left;
    padding: 0 15px;
    line-height: 60px;
    @include mediaQuery($min, $tablet){
        display: none;
    }
}
.hamburger-box {
    width: 30px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.triggerMbButton{
	.hamburger-inner{
		top: auto;
		bottom: 4px;
		-webkit-transition-duration: .15s;
		transition-duration: .15s;
		-webkit-transition-delay: .15s;
		transition-delay: .15s;
		-webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
		transition-timing-function: cubic-bezier(.55,.055,.675,.19);
	}
}
.triggerMbButton{
	&.showHideLeftPanel{
		.hamburger-inner{
			bottom: -6px;
			-webkit-transform: translate3d(0,-10px,0) rotate(-45deg);
			transform: translate3d(0,-10px,0) rotate(-45deg);
			-webkit-transition-delay: .32s;
			transition-delay: .32s;
			-webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
			transition-timing-function: cubic-bezier(.215,.61,.355,1);
		}
	}
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 24px;
    height: 2px;
    background-color: $darkColor;
    @include border-radius(2px);
    position: absolute;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.hamburger-inner::after, .hamburger-inner::before {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -8px;
}
.triggerMbButton{
	.hamburger-inner{
		&::before{
			transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);
			-webkit-transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);
			transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19);
			transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);
		}
		
	}
}
.triggerMbButton{
	&.showHideLeftPanel{
		.hamburger-inner{
			&::before{
			top: 0;
			-webkit-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
			transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);
			-webkit-transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);
			transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1);
			transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);
				}
			}
		}
}
.hamburger-inner {
	&::after{
		bottom: -8px;
		}   
}
.hamburger--collapse {
	.hamburger-inner{
		&::after{
			top: -20px;
			-webkit-transition: top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;
			transition: top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;
			}
		
		}
}
.triggerMbButton{
	&.showHideLeftPanel{
		.hamburger-inner{
			&::after{
				top: 0;
				opacity: 0;
				-webkit-transition: top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;
				transition: top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;
				}
			}
		}
}

/*===============================================================*/
.app__topbar__brand{
    float: left;
    text-align: center;
    height: 60px;
    position: relative;
    width: 130px;
    z-index: 1;
    @include mediaQuery(null, $tablet, $pre-desktop){
        width: 80px;
    }
    @include mediaQuery($max, $pre-tablet){
        width: 60px;
    }
}
.app__topbar__brand{
    background-color: $primary-color;
}
.app__topbar{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: $bg-white;
    box-shadow: 0 0px 35px rgba(0,0,0,.1);
}
.app__topbar__status{
    color: $darkColor;
}
.app__navigations{
	.app__nav__left{
    	float: left;
	}
}
.app__navigations .app__nav__left .actionActive__menu{
    border-left: 1px solid $bg-lightGray;
}
.app__navigations .app__nav__left .actionActive__menu a{
    color: $primary-color;
    font-weight: 500;
}
.app__navigations{
	.user__box{
			float: right;
			line-height: 60px;
			font-size: 16px;
			font-weight: normal;
			color: $darkColor;
		}
}
.user__box{
	.nav{
		& > li{
			& > a{
					padding-top:0px;
					padding-bottom:0px; 
					line-height: 60px;
				}
			}
	}
}
.user__box{
	.user-img {
		position: relative;
		height: 36px;
		width: 36px;
		margin: 0 auto;
	}
} 
.user__box{
	.user__box__notification{
		color: $darkColor;
		position: relative;
        padding-right: 30px;
		i{
			font-size: 16px;
		}
		.badge{
			position: absolute;
			left:20px;
			top: 15px !important;
		}
		
	}
}
.app__navigations {
	.app__nav__left{
		a {
			font-size: 16px;
			font-weight: normal;
			color: $darkColor;
			
			line-height: 60px;
		}
        .nav{
            & > li > a{
                padding-top: 0;
			    padding-bottom: 0;
            }
        }
        @include mediaQuery($max, $pre-tablet){
            display: none;
        }
	}
	
}
.user__box{
	.nav{
    	margin: 0;
        li{
            @include mediaQuery($max, $pre-tablet){
            float: left;
        }
        }
	}
}
.app__leftbar{
    width: 130px;
    z-index: 10;
    background: $bg-white;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 60px;
    @include mediaQuery(null, $tablet, $pre-desktop){
        width: 80px;
    }

}
.smallViewMenu{
	&.app__leftbar{
		width:100%;
		position: initial;
	}
}
.smallViewMenu{
    .main__nav{
        ul{
            a{
                @include mediaQuery($max, $pre-tablet){
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    & > *{
                    display: inline-block !important;
                    vertical-align: middle;
                    }
                    
                }
            }
        }
    }
}
.brand__name{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
  color: $whiteColor;
  &:hover{
      color: $whiteColor;
  }
  @include mediaQuery($max, $pre-tablet){
        display:block;
        visibility:hidden;
        text-indent: 22px;
        &::first-letter{
            visibility:visible;
        }
  }
}
.app__topbar__status{
	.navbar{
	  border: none;
	  background-color: transparent;
	  margin: 0;
	}
}

.user__box{
	.app__TopSearch{
		position: relative;
		margin-right: 15px;
	}
}
.user__box{
	.app__TopSearch{
		input{
			height: 32px;
			@include border-radius(30px);
			border: none;
			outline: none;
			padding: 0 30px 0 15px;
			font-size: 12px;
			min-width: 230px;
			background-color: $bg-lightGray;
			-webkit-transition: all 300ms linear;
			-moz-transition: all 300ms linear;
			transition: all 300ms linear;
            @include mediaQuery(null, $tablet, $pre-desktop){
                    min-width: 170px;
            }
		}
		
	}
} 
.user__box{
	.app__TopSearch{
		input{
			&:focus{
				background-color:$formControlColor;
				border: none;
			}
		}
	}
}
.user__box{
	.app__TopSearch{
		i{
			position: absolute;
			top: 1px;
			right: 12px;
			font-size: 20px;
			color: #c3c3c3;
		}
	}
}
/*===========================================================*/
/*-- offset fixer css --*/
/*===========================================================*/
.offset--null{
    margin: 0 !important;
}
/*===========================================================*/
/*-- Main nav css --*/
/*===========================================================*/
.largeViewMenu{
    @include mediaQuery($max, $pre-tablet){
        display: none;
    }
}
.main__nav{
	ul{
		margin:0;
		padding:0;
		li{
			display: block;
			border-bottom: 1px solid $bg-lightGray;
			&.active{
				 background-color: $bg-lightGray;
				 a{
					i{
						color: $primary-color;
					} 
				}
			}
			a{
				display: block;
				text-align: center;
				color: $darkColor;
				text-transform: capitalize;
				padding: 15px 10px;
				font-size: 14px;
                @include mediaQuery(null, $tablet, $pre-desktop){
                    font: 0/0 normal;
                }
				.main__nav__icon{
					display: block;
					line-height: 0;
                    @include mediaQuery($max, $pre-tablet){
                        display: inline;
                        margin:0 5px 0 0;
                    }
					margin-bottom: 2px;
					i{
						font-size: 24px;
					}
				}
			}
		}
	}
	.router-link-exact-active{
		&.router-link-active{
			background-color: $bg-lightGray;
			i{
				color: $primary-color;
			}
			.main__nav__icon{
				display: block;
				line-height: 0;
				margin-bottom: 2px;
			}
			
		}
	}
}
/*===========================================================*/
/*-- Main content area css --*/
/*===========================================================*/
.panel__title__row{
    @include mediaQuery($max, $pre-tablet){
        height: 32px;
    }
    .breadcrumb{
            @include mediaQuery($max, $pre-tablet){
            display: none;
        }
    }
}
.breadcrumb{
	& > li{
		& + li{
			&::before{
				padding: 0 5px;
				color: $darkColor;
				content: "\f21b";
				font-family: "Ionicons";
				font-size: 7px;
			}
		}
	}
}
.droppingMenu{
	border: none;
    box-shadow: 0 0px 30px rgba(0,0,0,.18);
    margin: 0;
	ul{
		li{
			a{
				line-height: 24px !important;
			}
		}
	}	
	&.pull-right{
		&::before{
			position: absolute;
			content: '';
			border: 10px solid rgba(255, 0, 0, 0);
			border-bottom-color: $whiteColor;
			top: 0;
			right: 2px;
			margin-top: -20px;
			z-index: 1;
		}
		
	}
	&.pull-right{
		&::after{
			position: absolute;
			content: '';
			border: 10px solid rgba(255, 0, 0, 0);
			border-bottom-color: $whiteColor;
			top: 0;
			right: 2px;
			margin-top: -20px;
			z-index: 1;
		}
		
	}
	
	
}
.droppingMenu.pull-right:after{
    z-index: 0;
}
.dropdown-menu{
	& > li{
		& > a{
			line-height: 24px !important;
		}
	}
}
.bodyFull{
    .app__contentpage{
        margin-left: 0;
    }
}
.app__contentpage{
    margin-left: 130px;
    overflow: hidden;
    padding-top: 60px;
    height: 100%;
    @include mediaQuery(null, $tablet, $pre-desktop){
        margin-left: 80px;
    }
    @include mediaQuery($max, $pre-tablet){
        width: 100%;
        margin-left: 0;
    }
}
.app__contentpage__wrapper{
    padding-top: 30px;
    height: 100%;
    position: relative;
    @include mediaQuery($max, $pre-tablet){
        padding-top: 20px;
    }
}
.layout__table{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
	.layout__table__row{
		display: table-row;
		.layout__table__cell{
			display: table-cell;
			vertical-align: middle;
		}
		
	}
}
/*===========================================================*/
/*-- Heading css --*/
/*===========================================================*/
.panels__headings{
    margin: 0px 0px 30px 0px;
	h1{
		font-size: 18px;
		color: $darkColor;
		margin: 0;
	}
}
.panel__box{
    padding: 15px;
	@include border-radius(3px);
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color:$bg-white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.036);
	.panel__box__title{
		font-size: 18px;
		color: $darkColor;
		font-weight: 500;
	}
	
}
.titleHeading--normal{
    font-size:16px;
    font-weight: 500;
    margin:0 0 10px 0;
}
.titleHeading--big{
    font-size:18px;
    font-weight: 500;
    margin:0 0 10px 0;
    line-height: 26px;
}
/*===========================================================*/
/*-- Forms control css --*/
/*===========================================================*/
.form-group {
    margin-bottom: 20px;
}
.form-control{
    border: none;
    background-color: $bg-lightGray;
	@include border-radius(3px);
    padding: 7px 12px;
    height: 38px;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transition: all 300ms linear;
    &:focus{
        background-color: $formControlColor;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 !important;
    }
}
.dateForm-control {
  input{
        @extend .form-control;
	    &:focus{
		background-color: $formControlColor;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: 0 !important;
	}
  }
} 
label{
    font-size: 13px;
    color: $darkColor;
    font-weight: 500;
}
.action__buttons{
    padding: 30px 15px;
	&::before, &::after{
		display: table;
		content: '';
		clear: both;
	}
}
.action__buttons--center{
    text-align: center;
}
.checkbox-inline{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px !important;
    width: 195px;
}
.radio-inline{
	@extend .checkbox-inline;
}
textarea{
	&.form-control{
		height: 100px;
	}
}
.dateForm-control{
	.vdp-datepicker__calendar{
    	right: 0;
	}
}
.multiSelect__selector{
    .dropdown{
        .dropdown{
            &.icon{
                width:35px !important;
                height: 100% !important;
                &::before{
                    content: "\f3d0" !important;
                    font-family: $font-ionicons;
                    font-size: 26px;
                    color: $textColor;
                    line-height: 26px;
                }
            }
        }
        &.active{
            .menu{
                border-color: $formControlColor !important;
            }
        }
    }
}
/*===========================================================*/
/*-- UI buttons css --*/
/*===========================================================*/
.button{
    padding: 8px 30px;
    background: $bg-white;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.036);
    font-size: 14px;
    @include border-radius(30px);
    outline: none;
    line-height: 14px;
    cursor: pointer;
    display: inline-block;
    transition: all .25s ease;
     @include mediaQuery($max, $pre-tablet){
        padding: 8px 12px;
        font-size: 12px;
    }
	&:hover{
		opacity: 0.9;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.16);
	}
}
.button--green{
    background-color:$primary-color;
    color: $whiteColor;
}
.button--green:hover{
    color: $whiteColor;
}
.button--red{
    color: $whiteColor;
    background-color: #e66565
}
.button--white{
    background-color:$bg-white;
    color: $darkColor;
}
.button--border--green{
    border:1px solid $primary-color;
    color: $darkColor;
}
.action__buttons{
	.button{
    	padding:12px 30px; 
	}
} 
.btn-block{
	& + .btn-block {
    margin-top: 20px;
}
}
select{
	&.form-control{
		option{
			color: black;
		}
		&:not(:checked){
			color: #999;
		}
	}
}
.btn-file-remove{
    padding: 0;
    border: none;
}
.button-file-remove{
    height: 34px;
    width: 100%;
    color: #333;
    background-color: $bg-white;
    border:1px solid #ccc;
}
.selectCombo__select{
    border: 1px solid #e7ebee;
    padding: 10px;
    @include border-radius(3px);
    color: #999;
}
.onhovBtn{
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    @include border-radius(30px);
    outline: none;
    transition: all .25s ease;
}
.onhovBtn{
	& > *{
		display: inline-block;
		vertical-align: middle;
	}
	&:hover{
		opacity: 0.9;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.16);
		background-color:$primary-color;
		color: $whiteColor;
	}
}
.button--big{
    padding: 15px 40px;
}
.button--textIcon{
    border: none;
    background: transparent;
    font-size: 20px;
    margin: 0 auto;
    display: inline-block;
    &:hover{
        color: $red-color;
    }
}
/*========= Checkbox and Radio buttons ==========*/
%chkAndRadio-inpt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.pure-checkbox {
	input[type="checkbox"] {
		@extend %chkAndRadio-inpt;
	}
	input[type="radio"] {
		@extend %chkAndRadio-inpt;
	}
}
.pure-radiobutton {
	input[type="checkbox"] {
		@extend %chkAndRadio-inpt;
	}
	input[type="radio"] {
		@extend %chkAndRadio-inpt;
	}
}






.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-radiobutton input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="radio"]:focus + label:before,
.pure-radiobutton input[type="radio"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before,
.pure-radiobutton input[type="checkbox"]:hover + label:before,
.pure-checkbox input[type="radio"]:hover + label:before,
.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: $primary-color;
  background-color: #f2f2f2;
}
.pure-checkbox input[type="checkbox"]:active + label:before,
.pure-radiobutton input[type="checkbox"]:active + label:before,
.pure-checkbox input[type="radio"]:active + label:before,
.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}
.pure-checkbox input[type="checkbox"] + label,
.pure-radiobutton input[type="checkbox"] + label,
.pure-checkbox input[type="radio"] + label,
.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
.pure-checkbox input[type="checkbox"] + label:before,
.pure-radiobutton input[type="checkbox"] + label:before,
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: $primary-color;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid $primary-color;
  text-align: center;
  transition: all 0.4s ease;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: $primary-color;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="checkbox"]:disabled + label:before,
.pure-radiobutton input[type="checkbox"]:disabled + label:before,
.pure-checkbox input[type="radio"]:disabled + label:before,
.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}
.pure-checkbox input[type="checkbox"]:disabled:focus + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,
.pure-checkbox input[type="radio"]:disabled:focus + label:before,
.pure-radiobutton input[type="radio"]:disabled:focus + label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover + label:before,
.pure-checkbox input[type="radio"]:disabled:hover + label:before,
.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-checkbox input[type="radio"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: $whiteColor;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
}
.pure-checkbox input[type="radio"]:checked + label:after,
.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  @include border-radius(50%);
}
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: $primary-color;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px $primary-color;
  }
}

/*===========================================================*/
/*-- UI elements css --*/
/*===========================================================*/
.badge__rounded{
    @include border-radius(100%);
    width:22px;
    height: 22px;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    padding: 0;
    line-height: 20px !important;
    border:2px solid $whiteColor;
}
.badge__rounded---green{
    background-color: $primary-color;
}
/*===========================================================*/
/*-- Text formation css --*/
/*===========================================================*/
.text--itallic{
    font-style: italic;
}
.text--thin{
    font-weight: 300;
}
.text--bold{
    font-weight: 500;
}
.text--ExtraBold{
    font-weight: 900;
}
.plus--more{
    font-size: 28px;
    color: #dadada;
}
.plus--more a{
    color: #dadada;
}
.text-small{

}
.text-large{
    
}
.text-extraLarge{
    font-size: 26px;
    line-height: 32px;
}
.text-xxtraLarge{
    font-size: 32px;
    line-height: 36px;
}
.greenText{
    color: $primary-color;
}
/*===========================================================*/
/*-- Elements formation css --*/
/*===========================================================*/
.blockLabel-element{
    display: block !important;
}
.inline-element {
    display: inline-block !important;
}
.inlineBlockElement{
    display: block;
}
.inlineBlockElement{
	& > *,& > ul > *{
			display: inline-block;
			vertical-align: middle;
	}
}
.inlineBlockElement{
		& > ul{
		margin: 0;
		padding: 0;
	}
}
.activeStateIcon{
    color: $primary-color;
}
.de-activeStateIcon{
    color: $darkColor;
}
/*===========================================================*/
/*-- Siderbar slide css --*/
/*===========================================================*/
/*======================= LeftSlideCanvas =============================*/
.sideCanvas__left {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: $bg-white;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.16);
    overflow-x: hidden;
    transition: 0.3s all cubic-bezier(1, 0.16, 0, 1.06);
    padding-top: 60px;
    @include mediaQuery($min, $tablet){
        display: none;
    }
}
.sideCanvas__left{
	&.slide-fade-enter, &.slide-fade-leave-to{
		transform: translateX(-400px);
		opacity: 0;
	}
}
/*======================= RightSlideCanvas =============================*/
.canvasShow {
  position: fixed;
  top: 56px;
  bottom: 0;
  width: 300px;
  background-color: $bg-white;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.16);
}
#sidebar-main {
  top: 56px;
}
.canvasShow.right {
  right: -300px;
}
.canvasShow{
	.wrapper{
		position: relative;
		height: 100%;
		width: 100%;
		padding: 1em;
		padding-top: 1.5em;
		overflow-y: auto;
		-webkit-box-sizig: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.canvasShow__slidepanel__content{
    overflow: auto;
    height: calc(100vh - 110px);
}
.sideCanvas__right {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: $bg-white;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.16);
    overflow-x: hidden;
    transition: 0.3s all cubic-bezier(1, 0.16, 0, 1.06);
    padding-top: 60px;
    @include mediaQuery(null, $palm, $pre-tablet){
        width: 70%;
    }
    @include mediaQuery($max, $palm){
        width: 100%;
    }
	.closebtn{
		position: absolute;
		top: 68px;
		right: 15px;
		font-size: 26px;
		font-weight: 300;
		color: $whiteColor;
		@include border-radius(100%);
		border: 1px solid $whiteColor;
		line-height: 34px;
		width: 34px;
		height: 34px;
		text-align: center;
	}
	.indexCloseBtn{
		opacity: 1;
		transition: all .8s ease;
	}
}
.bodyOpenCanvas .sideCanvas__right .indexCloseBtn{
    visibility: visible;
    opacity: 1;
}
body.bodyOpenCanvas{
    overflow: hidden;
    position: relative;
}
body.bodyOpenCanvas:before, body.OpenLeftCanvas:before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.85);
    z-index: 15;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*===========================================================*/
/*-- site-app css --*/
/*===========================================================*/
/*========== card view ==========*/
.box__card{
  background-color: $bg-white;
  @include border-radius(3px);
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.036);
  &.project__listShowGrid{
    .box__card__content{
        padding-top: 50px;
    }
}
  .box__card__content{
	  	padding: 15px 15px 25px 15px;
		&::before, &::after{
			display: table;
			content: '';
			clear: both;
		}
		.box__card__avatar{
			float: left;
			margin-right: 15px;
			position: relative;
			.avatar__image {
			    width: 85px;
					figure{
					@include border-radius(100%);
					overflow: hidden;
					height: 85px;
					width: 85px;
						img{
						max-width: 100%;
						@include border-radius(0);
					}
				}
			}
		}
		
	}
	.box__card__footer{
		border-top: 1px solid $bg-lightGray;
		padding: 8px 15px;
	}
	.plus--more{
		position: absolute;
		right: 0;
		top: 0;
		right: 15px;
	}
}
.box__card--one{
  margin-bottom: 30px;
}
/*========== section box css ==========*/
.section__panel{
    .section__panel__body{
        background-color: $bg-white;
        @include border-radius(3px);
        position: relative;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.036);
    }
}
/*========== overlapped avatar images ==========*/
.overlapedAvatar{
	& > ul{
		position: relative;
		margin: 0px 0px 0px 20px;
		& > li{
			position: inherit;
			margin: 0px 0px 0px -20px;
			&:first-child{
				left: 0;
			}
		}
	}
	.avatar__image{
		figure{
			border: 2px solid $whiteColor;
		}
	}
}

/*======================================*/
.box__card__text{
	h3{
		font-size: 16px;
		color: $darkColor;
		font-weight: 500;
		margin: 0 0 10px 0;
	}
}
.box__card__text{
	p {
	  margin: 0 0 2px 0;
	  font-size: 14px;
	}
}
.id__badge{
    position: absolute;
    bottom: -10px;
    left: -2px;
    padding: 5px 8px;
    background-color: $bg-white;
    color: $darkColor;
    border: 1px solid #dadada;
    @include border-radius(30px);
    font-weight: normal;
    width: 100%;
}

.box__card--two{
    margin-bottom: 30px;
}
.small__avatar{
    width: 34px;
    height: 34px;
}
.avatar__image{
	&.small__avatar{
		figure{
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
}
/*====================== div table =======================*/
.divTable__wrapper{
    padding: 2px;
    background-color: $bg-gray;
    @include border-radius(3px);
}
%tableCell{
	border-top: 1px solid #eceff1;
	display: table-cell;
    background-color: $bg-white;
    position: relative;
    font-weight: 300;
}
.divTable{
	display: table;
	width: 100%;
	.divTableHeading{
		background-color: $bg-gray;
		display: table-header-group;
		font-weight: bold;
		.divTableRow{
			display: table-row;
			.divTableHead{
				@extend %tableCell;
                background-color: $bg-gray;
                border-top: none;
                padding: 10px;
                font-weight: 500;
                font-size: 14px;
                color: $bg-white;
			}
		}
		
	}
	.divTableRow {
		display: table-row;
		.divTableCell{
			@extend %tableCell;
            padding: 10px;
		}
	}
	
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableCell.withActionBtns .plus--more{
    position: absolute;
    right: 15px;
    top: 10px;
}
/*======== Zebra strippedvtable ==========*/
.zebraStripped{
    .divTable{
        .divTableBody{
            .divTableRow:nth-child(even){
                .divTableCell{
                    background-color: $bg-lightGray;
                }
            }
        }
    }
}
/*================= Spreedsheet div table css ===============*/
.task__spreedsheet{
    border-collapse: collapse;
    padding: 2px;
    @include border-radius(3px);
    background-color: #9fa1a7;
    .divTableBody{
        .divTableCell{
            padding: 0;
        }
    }
}
.task__spreedsheet .form-group{
    margin: 0;
}
.borderedTable{
    @extend .task__spreedsheet;
    .divTableCell{
        padding:0;
    }
}
.pr__spreedsheet .divTableHead, .borderedTable .divTableHead{
    background-color: $bg-gray;
    color: $whiteColor;
    vertical-align: middle;
    padding:14px 6px;
    border: 1px solid #9fa1a7;
}
.divTableHead.xsmall__cell{
  width: 55px;
}
.divTableHead.long__cell{
  width: 200px;
}
.divTableHead.xlong__cell{
  width: 300px;
}
.divTableHead.small__cell{
  width: 100px;
}
.divTableHead.normal__cell{
  width: 120px;
}
.divTableHeading .divTableHead{
  font-size: 13px;
}
// .divTable__wrapper.task__spreedsheet .divTableBody .divTableRow:hover .divTableCell {
//     background-color:$bg-white;
// }
.task__spreedsheet .divTableCell {
    padding: 0;
    border: 1px solid #eceff1;
    vertical-align: top;
}
.task__spreedsheet .divTableCell .form-control{
  @include border-radius(0);
  padding: 6px;
  background-color: transparent;
}
.task__spreedsheet .divTableCell .form-control:focus{
      background-color: $formControlColor;
}
.task__spreedsheet textarea.form-control {
    height: 38px;
    resize: none;
}
.multiSelectDrop .ui.multiple.dropdown {
    background-color:transparent !important;
}
/*================== projectView table ========================*/
.projectView__table{
  border-collapse: collapse;
  padding: 2px;
  border-radius: 3px;
  background-color: #9fa1a7;
}
.projectView__table table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
.projectView__table > table > thead > tr > th{
  background-color: #8f9196;
  color: #fff;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
}
.projectView__table table.quest__row{
  border:1px solid #f5f5f5;
  border-collapse: collapse;
}
.projectView__table table.quest__row th{
  background-color: #dfe0e3;
}
.projectView__table table.quest__row th, .projectView__table table.quest__row td{
  padding: 8px 10px;
  border:1px solid #dfe0e3;
}
.projectView__table > table table.quest__row thead th{
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.projectView__table > table table.quest__row tbody > tr > td:first-child{
  font-size: 14px;
  font-weight: 500;
  background-color: #f5f5f5;
}
/*==========================================*/
.app__actions__panelStatus{
    position: absolute;
    top: 32px;
    right: 15px;
    @include mediaQuery($max, $pre-tablet){
        top: 20px;
    }
}
.panel__box__title{
    position: relative;
    margin-bottom: 20px;
}
.panel__box__title span{
    background-color: $bg-white;
    display: inline-block;
    position: relative;
    padding-right: 6px;
}
.panel__box__title.text-center span{
    padding-left: 6px;
}
.panel__box__title:before{
    position:absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #dadada;
    top: 50%;
    left: 0;
    margin-top: -1px;
}
.half-col{
    width: 50%;
}
.checkBoxList__wrapper{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list__inlineElement li{
    display: block;
    float: left;
    margin:10px;
}
.checkBoxList__wrapper.list__inlineElement li+li{
    margin:10px;
}
.form__elemets2 label{ 
    display: none;
}
.canvasShow__slidepanel__content .user__right--part .button{
    padding: 12px 30px;
}
.box__card--one .box__card__content{
    height: 130px;
}
.box__card--one .box__card__footer{
    height: 40px;
}
.lableTitle--bold{
    font-size: 14px;
    font-weight: 500;
}
.stars__ratings{
    color: #f1d76f;
    font-size: 18px;
}
.img__aavatar{
    text-align: center;
    background-color: #ececec;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    background-color: #ececec;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.box__card .avatar__image figure{
    background-color: #d0d0d0;
}
.box__card .avatar__image figure img{
    opacity: 0.9;
}
/*================ Social Links ===============*/
.social__links{
  margin: 0;
  padding: 0;
}
.social__links li{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.social__links li:last-child{
  margin-right: 0;
}
.social__links li a{
  display: block;
  color: #8c8c8c;
  font-size: 16px;
}
/*===========================================================*/
/*-- Bootstrap override css --*/
/*===========================================================*/
.modal-body{
    padding: 0;
}
.modal-container .panel__box{
  padding: 0 !important;
  background-color: none;
  box-shadow: none;
}
.pagination__row{
    text-align: center;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 1.42857143;
    color: $darkColor;
    text-decoration: none;
    background-color: $bg-white;
    border: none;
    @include border-radius(30px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    transition: all .25s ease;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: $whiteColor;
    cursor: default;
    background-color: $primary-color;
    border-color: $primary-color;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    @include border-radius(30px);
    padding-left: 25px;
    padding-right: 25px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	@include border-radius(30px);
    padding-left: 25px;
    padding-right: 25px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: $darkColor;
    background-color: $bg-white;
    border-color: $whiteColor;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
}
.paginate-links{
    &.projectCharters{
        margin: 0;
        li{
            a{
                @extend .button;
                box-shadow: none;
                margin: 0px 5px;
                padding: 8px 20px;
                position: relative;
                &:hover{
                    background-color: $primary-color;
                    color: $whiteColor;
                }
            }
        }
        li{
            &.prev{
                a{
                    padding-left: 40px;
                    &::before{
                        position: absolute;
                        content: "\f3d2";
                        font-family: $font-ionicons;
                        left: 20px;
                        font-size: 24px;
                    }
                }
                &.disabled{
                    opacity: 0.3;
                }
            }
            &.next{
                a{
                    padding-right: 40px;
                    &::before{
                        position: absolute;
                        content: "\f3d3";
                        font-family: $font-ionicons;
                        right: 20px;
                        font-size: 24px;
                    }
                }
                &.disabled{
                    opacity: 0.3;
                }
            }
        }
    }
}
.tooltip{
    .tooltip-inner{
        padding:8px 10px;
        font-size: 13px;
        letter-spacing: 0.5px;
    }
}
/*===========================================================*/
/*-- vueStyles css --*/
/*===========================================================*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}
.refurbish__modal__close .button{
    font: 0/0 normal;
}
.refurbish__modal__close .button:before{
    content: "\F129";
    font-family: "Ionicons";
    font-size: 16px;
    line-height: 46px;
}
.warningModel__popup .modal-container{
    padding: 0;
}
.warningModel__popup .modal-header{
    text-align: center;
    padding:20px 15px;
    text-transform: uppercase;
}
.warningModel__popup .modal-header h3{
    margin: 0;
}
.warningModel__popup .modal-body{
    padding:30px 15px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.warningModel__popup .modal-footer{
    padding:20px 15px;
    text-align: center;
}
.warningModel__popup .modal-footer .button{
    float: none;
}
.star-rating{
    .rating-text{
        position: relative;
        width: 30px;
        margin-top: 0;
        &::after{
            position: absolute;
            content: '5';
            right: 0;
        }
         &::before{
            position: absolute;
            content: '/';
            right: 12px;
        }
    }
} 
/*===================== Vue modal css =============================*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*===================== Overlay modal type css ===========================*/
.modal-mask{
    &.overlayModal{
        background-color: $bg-white;
        .modal-wrapper{
            vertical-align: top;
            padding-top: 180px;
            .modal-container{
                position: relative;
                padding: 0;
                box-shadow: none;
                .modal__close{
                    position: absolute;
                    top: -50%;
                    right:0;
                    .button{
                        @include border-radius(100%);
                        height: 60px;
                        width: 60px;
                        background-color: $bg-white;
                        position: relative;
                        color: $darkColor;
                        padding-top: 27px;
                        font-size: 9px;
                        text-transform: uppercase;
                        &:hover{
                            background-color: $primary-color;
                            color: $whiteColor;
                        }
                        &::before{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            content: "\f129";
                            font-family: $font-ionicons;
                            font-size: 24px;
                            display: block;
                            top:16px;
                        } 
                    }
                }
                .modal-header{
                    padding: 15px 0;
                    text-align: center;
                    h1{
                        font-size: 26px;
                        font-weight: 900;
                        margin: 0;
                    }
                }
            }
            @include mediaQuery($min, $tablet){
            .modal-container{
                width: 600px;
                }
            }
        }
        
        
    } 
}
.modal-default-button{
    float: right;
    border-radius: 0;
    height: 46px;
    width: 50px;
    padding: 0;
    text-align: center;
}
/*===========================================================*/
/*-- UI-multiple.dropdown css --*/
/*===========================================================*/
.ui.multiple.dropdown{
    padding:7px 12px !important;
    background-color: $bg-lightGray !important;
    border:none !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ui.multiple.dropdown.active,.ui.multiple.dropdown.visible{
    background-color: $formControlColor !important;
}
.ui.multiple.dropdown > .label{
    background-color: $bg-white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1) !important;
    font-size: 14px;
    font-weight: normal;
    color: $primary-color;
    @include border-radius(30px);
    padding: 8px 15px !important;
}
a.ui.labels .label:hover, a.ui.label:hover {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    background-image: none;
    color: $darkColor !important;
}
.ui.multiple.dropdown > .label > i.delete{
    position: relative;
    font-size: 11px;
    font-style: normal;
    color: $textColor;
    opacity: 1;
}
.ui.multiple.dropdown > .label > i.delete:before{
    content: "\f129";
    font-family: "Ionicons";
}
.ui.dropdown .menu > .item{
    font-size: 14px !important;
    color: $textColor !important;
    padding: 6px 10px !important;
    border-top:1px solid #eceff1 !important;
}

/*===========================================================*/
/*-- Progress-bar css(project charter--step bar) --*/
/*===========================================================*/
.progress {
    width: 100%;
    height: 30px;
    @include border-radius(30px);
    box-shadow: none;
    margin: 0;
    background-color: transparent;
    border: 1px solid $primary-color;
    padding: 5px;
    position: relative;
}
.progress-bar {
    background: $primary-color;
    box-shadow: none;
    @include border-radius(30px);
}
.progress__value{
    position: absolute;
    right: 10px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    line-height: 30px;
    top: 0;
}
